--2021-04-09 02:43:37--  https://www.toptal.com/developers/gitignore/api/java,eclipse,maven,xtext
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving www.toptal.com (www.toptal.com)... 104.22.43.181, 172.67.4.131, 104.22.42.181, ...
Connecting to www.toptal.com (www.toptal.com)|104.22.43.181|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: ‘java,eclipse,maven,xtext’

     0K ..                                                     17.2M=0s

2021-04-09 02:43:38 (17.2 MB/s) - ‘java,eclipse,maven,xtext’ saved [2072]

